<h1>Members Only</h1>
    <%unless @posts.empty?%>
    <ul>
        <%@posts.each do |post|%>
            <li>
                <h3>
                    <%=post.title%>
                    <%if user_signed_in?%>
                    <span style="font-weight:normal;font-size:small;color:gray;">by <%=User.find(post.user_id).username%></span>
                    <%end%>
                </h3>
                <%=post.content%>
            </li>
        <%end%>
    </ul>
    <%else%>
        No posts have been created yet, <%=link_to "create your posts", new_post_path%> now!
    <%end%>
    <div style="position:absolute;bottom:8px;">
    <%unless user_signed_in?%>
            <%=link_to "Sign in", new_user_session_path%> or <%= link_to "Sign up",new_user_registration_path%>
    <%else%>
            <%=link_to "Create a post", new_post_path%>
    <%end%>
    </div>